<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage/mypage_cancel.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> 
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="{{ url_for('main.main') }}">
                <img src="{{ url_for('static', filename='images/rootair.jpg') }}"/>
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a href="{{ url_for('main.main') }}">예약</a></li>
            <li><a href="{{ url_for('notices.notices_page') }}">공지사항</a></li>
            <li><a href="{{ url_for('qna.qna_page') }}">문의사항</a></li>
        </ul>
        <ul class="navbar_member">
            <li class="navbar_signup"><a href="{{ url_for('member.signup') }}">회원가입</a></li>
            <li class="navbar_login"><a href="{{ url_for('member.login') }}">로그인</a></li>
        </ul>
        <img class="navbar_togglebtn" src="{{ url_for('static', filename='images/topbar.jpg') }}" width="24" height="18"/>
    </nav>
</body>
<body>
    <script>
        const togglebtn = document.querySelector('.navbar_togglebtn');
        const menu = document.querySelector('.navbar_menu');
        const member = document.querySelector('.navbar_member');

        togglebtn.addEventListener('click', ()=>{
            menu.classList.toggle('active');
            member.classList.toggle('active');
        });
    </script>
    <div class="password-container">
        <h2>비밀번호를 입력해 주세요</h2>
        <form id="passwordForm">
            <label for="password"><strong>비밀번호:</strong></label>
            <input type="password" id="password" placeholder="비밀번호를 입력하세요" required>
            <p id="error-message" class="error-message" hidden>⚠ 비밀번호가 틀렸습니다.</p>
            <button type="submit" class="submit-btn">확인</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/mypage/mypage_cancel.js') }}" defer></script>
</body>
</html>