<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/forgot_password.js') }}" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="URL">
                <img src="{{ url_for('static', filename='images/rootair.jpg') }}"/>
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a href="">예약</a></li>
            <li><a href="">공지사항</a></li>
            <li><a href="">문의사항</a></li>
        </ul>
        <ul class="navbar_member">
            <li class="navbar_signup"><a href="">회원가입</a></li>
            <li class="navbar_login"><a href="">로그인</a></li>
        </ul>
        <img class="navbar_togglebtn" src="{{ url_for('static', filename='images/topbar.jpg') }}" width="24" height="18"/>
    </nav>

    <div class="find_passwd_page">
        <div class="find_passwd_box">
            <label for="find_passwd_label">비밀번호 찾기</label>

            <!-- Step 1: 아이디 입력 -->
            <form id="step1_form">
                <div id="step1"> 가입하신 아이디를 입력해주세요
                    <input type="text" id="user_id" name="user_id" placeholder="아이디 입력">
                    <button type="button" onclick="requestResetCode()">인증코드 요청</button>
                    <p id="step1Message" class="message"></p> 
                </div>
            </form>

            <!-- Step 2: 인증 코드 입력 -->
            <form id="step2_form" class="hidden">
                <div id="step2">가입하신 이메일로 인증코드를 발송하였습니다.
                    <input type="text" id="otp" name="otp" placeholder="인증코드 입력">
                    <button type="button" onclick="verifyResetCode()">인증코드 확인</button>
                    <p id="step2Message" class="message"></p> 
                </div>
            </form>

            <!-- Step 3: 새 비밀번호 입력 -->
            <form id="step3_form" class="hidden">
                <div id="step3"> 
                    <input type="password" id="new_password" name="password" placeholder="새 비밀번호">
                    <input type="password" id="confirm_password" name="password_confirm" placeholder="새 비밀번호 확인">
                    <button type="submit" onclick="reset_password()">비밀번호 재설정</button>
                    <p id="step3Message" class="message"></p> 비밀번호 재설정하세요
                </div>
            </form>
        </div>
    </div>
</body>
