<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 비밀번호 입력</title>
    <link rel="stylesheet" href="find_passwd.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="find_passwd.js" defer></script>

</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="URL">
                <img src="images/rootair.jpg"/>
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a href="">예약</a></li>
            <li><a href="">공지사항</a></li>
            <li><a href="">문의사항</a></li>
        </ul>
        <ul class="navbar_member">
            <li class="navbar_signup"><a href="">회원가입</a></li>
            <li class="navbar_login"><a href="">로그인</a></li>
        </ul>
        <img class="navbar_togglebtn" src="images/topbar.jpg" width="24" height="18"/>
    </nav>
    <div class="new_passwd_page">
        <div class="new_passwd_box">
            
            <label for="new_passwd_label" id="new_passwd_label">새로운 비밀번호를 입력하세요.</label>
            <!-- 아이디를 동적으로 표시할 부분 -->
                <div class="userID">
                <p>id : 아이디입니다</p>
                </div>
            <!-- 새로운 비밀번호를 보내는 부분 -->
            <form method="post" action="실제로 데이터를 처리할 서버의 URL" id="new_passwd_input_form">
                
                <div class="new_passwd_input">
                    <input type="password" name="password" placeholder="새비밀번호를 입력해주세요">
                    <input type="password" name="password_confirm" placeholder="새비밀번호 확인">
                    
                </div>
                <div class="new_passwd_butt">
                    <button type="submit">변경</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>