<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_delete.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/user_delete.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="URL">
                <img src="{{ url_for('static', filename='images/rootair.jpg') }}">
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a href="">예약</a></li>
            <li><a href="">공지사항</a></li>
            <li><a href="">문의사항</a></li>
        </ul>
        <ul class="navbar_member">
            <li class="navbar_signup"><a href="">회원가입</a></li>
            <li class="navbar_login"><a href="">로그인</a></li>
        </ul>
        <img class="navbar_togglebtn" src="{{ url_for('static', filename='images/topbar.jpg') }}" width="24" height="18"/>
    </nav>
    
    <div class="password-container">
        <h2>회원 탈퇴</h2>
        <form id="passwordForm">
            <label for="password"><strong>비밀번호:</strong></label>
            <input type="password" id="password" placeholder="비밀번호를 입력하세요" required>
            <p id="error-message" class="error-message" hidden>⚠ 비밀번호가 틀렸습니다.</p>
            <button type="submit" class="submit-btn">탈퇴하기</button>
        </form>
    </div>
</body>
</html>
