<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항공권 상세정보</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_list_detail.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> 
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="URL">
                <img src="{{ url_for('static', filename='images/rootair.jpg')}}"/>
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a href="">예약</a></li>
            <li><a href="">공지사항</a></li>
            <li><a href="">문의사항</a></li>
        </ul>
        <ul class="navbar_member">
            <li class="navbar_signup"><a href="">회원가입</a></li>
            <li class="navbar_login"><a href="">로그인</a></li>
        </ul>
        <img class="navbar_togglebtn" src="{{ url_for('static', filename='images/topbar.jpg')}}" width="24" height="18"/>
    </nav>
</body>
        </div>
        
        <div class="flight-container">
            <button class="arrow-btn">◀</button>
            <div class="flight-title">FLIGHT_01</div>
            <button class="arrow-btn">▶</button>   
        </div>
    
        <div class="flight-details">
            <div class="flight-info">
                
            </div>
    
        </div>
    
        <h3 class="passenger-title">탑승객 정보 입력</h3>
    
        <div class="passenger-form">
            <table>
                <tr>
                    <th>여권 영문명</th>
                    <th>성별</th>
                    <th>생년월일(8자리)</th>
                </tr>
                <tr>
                    <td><input type="text" value="Hong gil dong"></td>
                    <td>
                        <select>
                            <option>남</option>
                            <option>여</option>
                        </select>
                    </td>
                    <td><input type="date" value="1989-04-21"></td>
                </tr>
                <tr>
                    <td><input type="text" value="Hong gil dong"></td>
                    <td>
                        <select>
                            <option>남</option>
                            <option>여</option>
                        </select>
                    </td>
                    <td><input type="date" value="1989-04-21"></td>
                </tr>
                
                </table>
                <button class="submit-btn"onclick=location.href="https://www.naver.com">제출</button>
            </div>
            <script src="{{ url_for('static', filename='js/main_list_detail.js')}}"></script>
        </body>
        </html>
    